extends layouts/main

block content
    .error-box
        .error-title
            i.fas.fa-exclamation-triangle
            h1 404 ERROR
        .error-name 
            h3 Sorry this page was not found :(
    
        .error-img
            img(src="https://backalleysoapbox.files.wordpress.com/2013/07/office-no.gif", alt="noooo")