extends layouts/main
include mixins/thumbnail

block content
    .dashboard
        .grid-container
            each image in images
                +thumbnail({
                    id: image.id,
                    src: image.fileURL
                })
        .dashboard__controller
            input(type="button", value="Some Controll")
            input(type="button", value="Some Controll")
            input(type="button", value="Some Controll")
            input(type="button", value="Some Controll")
        