extends layouts/main

block content
    .image__container
        img.image(src=`/${image.fileUrl}`)
        h1.image__place Photo taken from "#{image.location}"
        h3.image_uploadtime Uploaded: #{image.uploadedAt}