extends layouts/main

block content
    .form-container
        h1.form__title Join
        form(action=routes.join, method="post")
            input.input__text(type="text", name="name", placeholder="Name", required)
            input.input__text(type="email", name="email", placeholder="E-mail", required)
            input.input__text(type="password", name="password", placeholder="Password", required)
            input.input__text(type="password", name="password2", placeholder="Confirm Password", required)
            input(type="submit", value="Join")