extends layouts/main

block content
    main.main
        a.main__button(href="/auth/google")
            i.fab.fa-google
            |       Login With Google
        
        a.main__button(href="/login")
            i.far.fa-envelope
            |       Login With Email
    
        a.main__button(href="/join")
            | Create Account
