header.header
    .header__column
        if(!loggedIn)
            a(href="/").header__logo-title-link
                img(src="/static/design/logo.png", alt="Photorganizer Logo").logo
                h1.header__title Photorganizer
        else
            a(href="/dashboard").header__logo-title-link
                img(src="/static/design/logo.png", alt="Photorganizer Logo").logo
                h1.header__title Photorganizer
    .header__column
        if(!loggedIn)
            a(href="https://github.com/hwhang0917/photorganizer").header__link About
            a(href="#").header__link Desktop App
        else
            .search-container
                form(action=`/dashboard${routes.filter}`, method="get")
                    i.fas.fa-search.search__icon
                    input(type="text", placeholder="Filter image by location", name="term")
            a(href="/settings").header__buttons
                i.fas.fa-cog
            a(href="/logout").header__buttons
                i.fas.fa-sign-out-alt