include ../mixins/message

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        link(rel="shortcut icon", href="/static/favicon.ico?", type="image/x-icon")
        link(rel="stylesheet", href="/static/styles/styles.css")
        link(rel="stylesheet", href="https://transloadit.edgly.net/releases/uppy/v1.10.1/uppy.min.css")
        script(src="https://kit.fontawesome.com/3b255314a2.js", crossorigin="anonymous")
        
        if (pageTitle)
            title #{pageTitle} | #{siteName}
        else
            title #{siteName}
    body
        img(src="/static/design/landingBg.jpg", alt="Wallpaper of polaroid photos").wallpaper
        if messages.error
            +message({
                type:'error',
                text: messages.error
            })
        else if messages.info
            +message({
                type:'info',
                text: messages.info
            })
        else if messages.success
            +message({
                type:'success',
                text: messages.success
            })
        include ../partials/header
        block content
        if(!loggedIn)
            include ../partials/footer
        script(src="/static/js/main.js")